html, body {
  padding: 0;
  margin: 0;
  background-color: #000000;
  cursor: default;
  overflow: hidden;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.project {
  position: absolute;
  top: 100px;
  left: 100px;
  background-color: #202020;
  color: #909090;
  padding: 6px;
  padding-left: 16px;
  padding-bottom: 8px;
  border-radius: 28px;
  border: 3px solid #606060;
  white-space: nowrap;
}

.info {
  position: absolute;
  top: 100px;
  left: 100px;
  background-color: #202020;
  color: #909090;
  padding: 6px;
  padding-left: 16px;
  padding-bottom: 8px;
  border-radius: 28px;
  border: 3px solid #606060;
  white-space: nowrap;
}

a {
  color: #000000;
  text-decoration: none;
  white-space: nowrap;
  font-family: 'IBM Plex Serif', serif;
  font-size: 16px;
  transition: all 500ms;
}

/* unvisited link */
a:link {
  color: #909090;
}

/* visited link */
a:visited {
  color: #909090;
}

/* mouse over link */
a:hover {
  color: #cccccc;
}

/* selected link */
a:active {
  color: #909090;
}

.drag {
  font-size: 16px;
}

object {
  z-index: -1;
  padding: 0;
  margin: 0;
  position: absolute;
  height: 80vh;
  width: 80vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
